body{margin:0; 
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
color:#fff;}

a{color:#fff; text-decoration: none;}

a:hover{color:#1ed760;}

nav{height:80px; background:#000; display:flex; 
    justify-content: space-around; align-items: center;}
.logo img{width:132px;}
.nav-item{padding: 28px 17px; font-weight: 700;}


main{height: 968px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;background-position: 46% 4%; 
    display: flex;align-items: center;justify-content: center;}

.headline{font-size: 146px;line-height: 166px; font-weight:900; color:#1ed760;
    position: relative; left: 225px; padding-bottom: 40px;}
.headline-first{position: relative; left:-2.5em;}

.sub-headline{color:#1ed760; text-align: center;font-size: 18px; line-height: 24px;padding-bottom: 40px;}

.button-area { text-align: center;}

  .button-style {padding: 14px 32px; background-color: #1ed760;border-radius: 500px;font-size: inherit; color: #2941ab;font-weight: 700;border: none;}
  .button-style:hover { transform: scale(1.07);background-color: #2de26d;}


  footer { height: 530px;background-color: black;display: flex;justify-content: center;}
  .container {max-width: 1170px;width: 100%;padding-top: 80px;padding-bottom: 50px;}
  .footer-menu {display: flex;justify-content: space-between;height: 346px;}
  .first-box {width: 60%;display: flex; justify-content: space-between;}
  .second-box {width: 40%; display: flex;justify-content: flex-end;}


  .footer-menu-item {padding-bottom: 15px;padding-top: 3px;font-size: 16px;}
  .column {display: flex;flex-direction: column;padding: 0 15px;}
  .sub-title {color: #919496;font-weight: 900;margin: 20px 0px; }
  .icon-box {width: 54px; height: 54px; background-color: #222322;
    border-radius: 50%; margin-right: 15px;display: flex;
    justify-content: center;align-items: center;}
  .icon { font-size: 24px;}
  .icon:hover {color: #2de26d;}
  .first-line {color: #919496;display: flex;justify-content: flex-end;font-size: 12px;}
  .second-line {color: #919496;display: flex;justify-content: space-between; margin-top: 12px;}
  .second-line-item {margin-right: 24px;color: #919496; }

/*
em : 상위요소 폰트 크기 기준
폰트가 12px이면 1em은 12px, 화면사이즈에 따라 반응형웹을 만들 때 쓰기 좋다

rem : em이랑 비슷함
html태그의 폰트크기 기준
내 자신이 12px이더라도 html이 20px이면 1rem은 20px

flexbox 계속 연습하기 (별표 백만개)

*/


/* 로그인 페이지*/
.wrap{height: 100vh;}
.cont-wrap{background: linear-gradient(rgb(40, 40, 40), rgb(0, 0, 0));; display:flex; justify-content: center;height:100%;align-items: center;}

.cont_bx{background:#121212;    max-width: 734px;
    width: 100%; text-align: center;    border-radius: 10px; display: flex;flex-flow: column;justify-content: center;padding: 0 32px;height: 91%;}

.tit img{width: 36px;}
.tit p{font-size:32px; font-weight:700; text-align: center; margin-top: 0px; margin-bottom: 32px;font-family: SpotifyMixUITitle, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);}

.bx-style{cursor: pointer; display: flex;border: 1px solid #7c7c7c;
    border-radius: 25px;background: none;color: #fff; font-size: 1rem;text-align: center;    padding: 10px 25px;width: 324px;font-weight: bold; margin: auto;}
.bx-style:hover{border:1px solid #fff;}

.bx-style .img{ background: url(https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg) no-repeat;background-size: 1.5rem;display: block;width: 1.5rem;height: 1.5rem;}
.bx-style .img.face{ background: url(https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg) no-repeat;}
.bx-style .img.apple{ background: url(https://accounts.scdn.co/sso/images/new-apple-icon.e356139ea90852da2e60f1ff738f3cbb.svg) no-repeat;}


.bx-style .text{margin:auto;}

.login-bx ul {list-style: none;display: flex;flex-flow: column;align-items: center;    padding: 0;}
.login-bx ul li{margin-top: 8px;}


.cont2{border-top:1px solid #ddd; margin-top:32px; padding-top:32px; display: flex;flex-flow: column;align-items: center;}

.idbx{width: 324px;}
.inputbx{display: flex;flex-flow: column;width:324px;padding-bottom:10px;} 
.inputbx label{text-align: left; font-size: 0.875rem;}
.inputbx  .input-style{margin:10px 0; display: flex;width: calc(100% - 24px); border: 1px solid #fff; background: none;color: #fff; font-size: 1rem;    padding: 17px 12px;font-weight: bold;border-radius: 5px; text-align: left;}

.login-com{width: 324px; background:#1ed760;border-radius: 25px; height:48px; line-height: 43px; font-weight: 700; font-size:1rem; text-align: center;    margin: 10px auto; display: block; border:none; cursor: pointer;}
.login-com:hover{background:#3be477; width:340px; font-size: 1.1rem; line-height:47px;}

.pw-forgot a{text-decoration: underline;}
.sign-upbx span{color:#ddd; margin-right:10px;}
.sign-upbx a{text-decoration: underline;}

.footer{background:rgb(18,18,18);}
.footer-text{color: rgb(179, 179, 179);
    text-align: center;
    padding: 20px;}
    .footer-text p{font-size: 0.75rem;}
    .footer-text a{text-decoration: underline; color:rgb(179, 179, 179)}

